.custom-basic-price,
.custom-professional-price,
.custom-premium-price {
  font-family: $font-secondary;
  border-radius: 20px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
    border-radius: 0;
  }
}
.custom-basic-price {
  border: 2px solid $color-redish;

  .custom-text-price {
    color: $color-redish;
  }
}
.custom-professional-price {
  border: 2px solid $color-primary;

  .custom-text-price {
    color: $color-primary;
  }
}
.custom-premium-price {
  border: 2px solid $color-green;

  .custom-text-price {
    color: $color-green;
  }
}
.custom-container-element {
  padding: 5rem 0;
}
