.custom-circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.custom-circle-red {
  background-color: $color-redish;
}
.custom-circle-blue {
  background-color: $color-primary;
}
.custom-circle-green {
  background-color: $color-green;
}
